@media screen and (max-width: 1030px) {
    main {
        padding: 0 20px;
    }
}
@media screen and (max-width: 875px) {
    .faq {
        &-decorate {
            transform: translateX(-50%);
            left: calc(50% - 15px);
            top: -95px;
            img:first-child {
                display: none;
            }
            img:last-child {
                display: block;
                width: 237px;
            }
        }
        &-container {
            padding-top: 100px;
            padding-right: 0;
        }
        &-sidebox {
            margin: auto;
        }
        &-title {
            text-align: center;
        }
    }
}
@media screen and (max-width: 500px) {
    .faq {
        &-container{
            padding: 100px 24px 48px;
        }
        &-accordeons {
            &__item-question {
                font-size: 13px;
            }
        }
    }
}
