@mixin font($a, $b) {
    font-size: $a;
    line-height: $b;
    // font-weight: $c;
    // color: $d;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
